# folders to ignore
_archive/
_archive_1d/
_archive_2d/
__pycache__/
.vscode/
!Eigen/*
!Eigen
fem_test*/
generator/
input/
output/

# files to ignore
.DS_Store
*.cpp
*.py
*.csv
fem_test*
.gitignore
*.txt
